
@media only screen and (device-width: 768px) {


	body{
		background-image: url('img/iPadBg.png');
	
	}
	
	#message{
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: -86px;
		margin-left: -136px;
		height:250px;
		width:280px;
		background-repeat: no-repeat;	
	}

	.message{
		
	}

	@-webkit-keyframes rotate {
	  from {-webkit-transform:rotate(0deg);}
	  to {  -webkit-transform:rotate(360deg);}
	}

	.msgSpin{
		margin-top:-420px;
		-webkit-animation-duration:.3s;
		-webkit-animation-iteration-count:infinite;
		-webkit-animation-timing-function:linear;
		-webkit-animation-name: rotate;
	}

}



@media only screen and (min-device-width: 1536px) and (orientation : portriat) and (-webkit-min-device-pixel-ratio: 2) {




}
